/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
:root {
    --body-background-color: #ccc;
    --resume-max-width: 1200px;
    --resume-min-width: 900px;
    --resume-background-color: #fefefe;
    --resume-shadow: 0 0 8px rgba(0,0,0,.6);
    --resume-page-header-size: 2.2rem;
    --resume-page-header-top-margin: 0.6rem;
    --resume-page-subheader-margin: 1rem;

    --resume-sidebar-background-color: #eee;
    --resume-sidebar-border-color: #3f87a6;
    --resume-sidebar-width: 30.2%;
    --resume-content-width: 61.8%;
    --resume-sidebar-header-size: 1.4rem;
    --resume-content-header-size: 1.4rem;
    --resume-standard-padding: 1.4rem;
    --resume-standard-margin: 0.67rem;

    --content-list-period-width: 6rem;
    --content-list-header-font-size: 1.2rem;

    --content-list-period-box-font-size: 0.6rem;
    --content-list-period-box-width: 80px;
    --content-list-period-box-height: 80px;
    --content-list-period-box-border: 40px;
    --content-list-period-box-border: 40px;

}

html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    background: var(--body-background-color);
    margin: 0;
    padding: 0;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
}

.resume {
    display: flex;
    min-height: 100%;
    margin: 0 auto;
    max-width: var(--resume-max-width);
    min-width: var(--resume-min-width);
    background: var(--resume-background-color);
    box-shadow: var(--resume-shadow);
}

.page-header {
    font-size: var(--resume-page-header-size);
    margin: var(--resume-page-header-top-margin) 0 0;
    padding: 0 var(--resume-standard-padding);
}

.page-subheader {
    padding: 0 var(--resume-standard-padding);
    margin-bottom: var(--resume-page-subheader-margin);
}

.sidebar {
    flex: 1 0 var(--resume-sidebar-width);
    min-height: 100%;
    box-sizing: border-box;
    border-right: 1px solid var(--resume-sidebar-border-color);
    background: var(--resume-sidebar-background-color);
}

.content {
    min-height: 100%;
    flex: 1 0 var(--resume-content-width);
    box-sizing: border-box;
}

.sidebar-block-header {
    font-size: var(--resume-sidebar-header-size);
}

.content-block-header {
    font-size: var(--resume-content-header-size);
}

.sidebar > .sidebar-block,
.content > .content-block {
    padding: 0 var(--resume-standard-padding);
}

.list-contact {
    padding: 0;
    margin: 0;
}

.list-contact .list-contact-item {
    list-style-type: none;
}

.content-list {
    padding: 0;
    margin: 0;
}

.content-list, .content-list .content-list-item {
    list-style-type: none;
}

.content-list .content-list-item {
    display: flex;
}

.content-list-period::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(var(--content-list-period-width)/2 - 7px);
    margin-left: -1px; 
    width: 0;
    border-right: 1px dashed #ccc;
    content: "";
    z-index: 0;
}

.content-list .content-list-item:last-child .content-list-period::before {
    display: none;
}

.content-list-period {
    box-sizing: border-box;
    position: relative;
    margin-right: var(--content-list-period-margin);
    width: var(--content-list-period-width);
    padding-bottom: 1rem;
}

.content-list-period-box {
    position: relative;
    display: flex;
    flex-direction: column;
    width: var(--content-list-period-box-width);
    height: var(--content-list-period-box-height);
    border-radius: var(--content-list-period-box-border);
    font-size: .8rem;
    box-sizing: border-box;
    text-align: center;
    background: #efefef;
    z-index: 1;
}

.content-list-period-box-present {
    background: rgb(110, 199, 122);
}

.content-list-period-box-present .period-end {
    background: #efefef;
    border-radius: 0 0 var(--content-list-period-box-border) var(--content-list-period-box-border);
}

.content-list-period-box span {
    display: flex;
    flex: 1 0 50%;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    color: #000;
}

.content-list-period-box span.period-start {
    border-bottom: 1px solid #fff;
    padding-top: 10px;
}

.content-list-period-box span.period-end {
    padding-bottom: 10px;
}

.content-list-details {
    flex: 1 0 0%;
    box-sizing: border-box;
    padding-bottom: 1rem;
}

.content-list-header {
    font-size: var(--content-list-header-font-size);
    margin: 0;
}

.content-list-subheader {
    margin: 0 0 10px;
}

.content-list-data {
    line-height: 1.4;
}









/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
